<div class="close-form-section">
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<h2>Great progress !</h2>
				<p>Thanks for requesting your container to be listed. We are analyizing your request and should come back to you shortly. 
				You will be notifed by email when your container listing is approved.</p>
									
				<div class="step step-active">
					<h3>STEP 1</h3>
					<div class="flexbox">
						<h2>Start with the basics</h2>
						<span class="check-icon"><i class="fas fa-check"></i></span>				
					</div>
					<p>Itinerary, dates, space available and moving company</p>	
				</div>
				<div class="step step-margin">
					<h3>STEP 2</h3>
					<h2>Set the rules</h2>
					<p>Set prices and privacy settings</p>
				</div>
				<div class="step step-margin">
					<h3>STEP 3</h3>
					<h2>View progress</h2>
					<p>Spread the word on social medias if you wish,
					monitor all your container enquiries.</p>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<div class="flexbox">
							<div class="information-box">
								<%= image_tag "bulb.svg", height: 30, class: "lamp-icon" %>
								<p>You could earn as much as  <b class="save-amount"><%= number_with_precision(@result, :precision => 0, ) %></b> USD 
								 <button type="button" class="btn btn-information" data-toggle="modal" data-target="#estimate">
									  <i class="fas fa-info-circle"></i>
								</button>
								</p> 
							</div>
						</div>
					</div>
				</div>

			</div>
			<div class="col-sm-6">
				<div class="image-background">
					<%= image_tag "ship.svg", height: 600, class: "ship-img" %>
				</div>
				
			</div>
		</div>
		
	</div>
</div>