
<!-- Modal -->
<div class="modal fade" id="ilegal-goods" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">What happens if someone ships something illegal?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>It is very unlikely that this would happen for the following reasons : <br><br>

        1- ALL shipments are packed by the same moving company <br><br>

        2- The moving company is responsible for the customs clearance of the whole shared-container, both at departure AND arrival. <br><br>

        3- The owner of each shipment is clearly identified through box labels and a comprehensive individual packing list. <br><br>

        4- Each shipment is cleared under it’s owner’s name. Should a prohibited item be found in one of the shipments, the owner of the prohibited goods would therefore be easily identified. <br><br>

        That said, if something illegal is found on the container, the owner of the goods will have to support any extra charge incurred to the container and respond to local authorities. <br><br>

        This kind of situation is very rare though.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-estimate-modal-close" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>