
<!-- Modal -->
<div class="modal fade" id="protection" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">What protection do I have <br>against loss & damages?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>myGroupage is not a transporter or moving company and does not provide protection against property damage or loss. <br><br> 

        However, all our partners provide different moving insurance options and we highly recommend that you subsribe one. Moving insurance policies usually don't cover cash and securities, collectibles, rare artwork, jewelry. Be sure to have your mover elaborate on their insurance policy.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-estimate-modal-close" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>