<style>
	h1{
		font-family: Comfortaa;
		font-style: normal;
		font-weight: bold;
		line-height: 25px;
		font-size: 20px;
		
		color: #353C4C;
	}
	p{

		font-family: Comfortaa;
		font-style: normal;
		font-weight: 300;
		line-height: normal;
		font-size: 16px;
		color: #353C4C;
	}
</style>
<p>Hello <%= @user.first_name.capitalize %> <%= @user.last_name.capitalize %></p>

<p>
  Welcome to Coshippers!

  We hope you enjoy our services!
</p>
