.wrapper-why-mygroupage{
	background: #FFFFFF;
	padding: 7px;
	padding-bottom: 36px;
	h2{
		font-family: Comfortaa;
		font-style: normal;
		font-weight: bold;
		line-height: 41px;
		font-size: 26px;
		letter-spacing: -1px;

		color: #484848;
	}
	p{
		font-family: Comfortaa;
		font-style: normal;
		font-weight: 300;
		line-height: 31px;
		font-size: 16px;
		letter-spacing: -1px;

		color: #484848;
	}
	.card-whyus{
		padding: 38px;
		padding-top: 0;
	}
}