.wrapper-why-mygroupage{
	background: #FFFFFF;
	padding: 7px;
	padding-bottom: 36px;
	h2{
		font-family: Comfortaa;
		font-style: normal;
		font-weight: bold;
		line-height: 41px;
		font-size: 26px;
		letter-spacing: -1px;

		color: #484848;
	}
	p{
		font-family: Comfortaa;
		font-style: normal;
		font-weight: 300;
		line-height: 31px;
		font-size: 16px;
		letter-spacing: -1px;

		color: #484848;
	}
	.card-whyus{
		padding: 38px;
		padding-top: 0;
	}
}
.wrapper-moving-3-steps{
	background: #FFFFFF;
	position: relative;
	// padding: 7px;
	.border{
		border: 1.5px solid #8B8B8B;
		width: 62px;
		position: absolute;
		left: 50%;
	}
	h1{
		font-family: Comfortaa;
		font-style: normal;
		font-weight: bold;
		line-height: 117px;
		font-size: 60px;
		text-align: center;
		letter-spacing: -2px;
    	margin-top: 13px;
		color: #333333;
	}
	h2{
		font-family: Comfortaa;
		font-style: normal;
		font-weight: bold;
		line-height: 35px;
		font-size: 26px;
		letter-spacing: -1px;

		color: #484848;
	}
	p{
		font-family: Comfortaa;
		font-style: normal;
		font-weight: 300;
		line-height: 31px;
		font-size: 16px;
		letter-spacing: -1px;

		color: #484848;
	}

	.badge {
		width: 55px;
		height: 55px;
		border-radius: 50%;
		background: #008489;
		 display: flex;
		 justify-content: space-around;
		 align-items: center;
		 font-family: Comfortaa;
		font-style: normal;
		font-weight: bold;
		line-height: 31px;
		font-size: 20px;
		text-align: center;
		letter-spacing: -1px;
		color: #FFFFFF;
	}
	.card-3-steps{
		padding: 36px;
		padding-bottom: 90px;
	}
}

.wrapper-cards-groupage{
	background: #FFFFFF;
	padding-bottom: 130px;
	.card-image{

		.image{
			height: 100%;
			width: 100%;
		}
	}
	.button-find-container{
		text-align: center;
		margin-top: 40px;
		.btn-find-container{
			background: #008489;
			border-radius: 5px;
			padding: 19px 28px 19px 67px;
			font-family: Comfortaa;
			font-style: normal;
			font-weight: 300;
			line-height: normal;
			font-size: 20px;
			color: #FFFFFF;
			text-align: center;
			background-image: image-url("search-icon.svg");
			background-position: left;
			background-repeat: no-repeat;
			background-size: 27% 57%;
			&:hover{
			     background: #013638;
			     text-decoration: none;
			     color: #FFFFFF;
		    }
		    &:visited{
		      	color: #FFFFFF;
		      	text-decoration: none currentcolor solid;
			}
		}
	}


	.card-margin {
	  padding: 5px;
	}

	.card-wrapper {
	  &:hover, &:active, &:focus {
	    outline: none;
	  }
	  transition: transform 0.3s !important;
	  &:hover{
	    transform: translateY(-15px) scale(1.03) !important;
	  }

	}


	.cards-container {
	  height: 330px;
	  background-size: cover !important;
	  background-color: white;
	  background-position: center;
	  position: relative;
	  justify-content: space-around;
	  border-radius: 2px;
	  // box-shadow: 0 2px 2px rgba(0,0,0,0.1);
	  padding: 0 0 35px 0;
	  max-width: 100vw;
	  
	}

	.card-link {
	  color: #545454;;
	  position: absolute !important;
	  top: 0 !important;
	  bottom: 0 !important;
	  right: 0 !important;
	  width: 100% !important;
	  cursor: pointer !important;
	  z-index: 10;
	  background: black;
	  opacity: 0;
	  &:hover, &:active, &:focus {
	    text-decoration: none;
	    color: #545454;;
	    outline: none;
	  }
	}

	.card-details {
	  margin-top: 10px;
	  padding: 0px 0px;
	   font-family: Comfortaa;
		font-style: normal;

	}

	.country{
		
		font-weight: bold;
		line-height: normal;
		font-size: 12px;
		text-indent: 8px;
		color: #008489;
		padding-left: 1px;
	}

	.city {

	font-weight: bold;
	line-height: normal;
	font-size: 16px;
	letter-spacing: -1px;
	text-indent: 8px;
	color: #333333;
	margin-left: -9px;
	

	}

	.price {
	 
		font-weight: bold;
		line-height: normal;
		font-size: 16px;
		text-align: right;
		letter-spacing: -1px;

		color: #008489;
	}
	.available-space{
		font-weight: 300;
		line-height: normal;
		font-size: 14px;
		letter-spacing: -1px;
		text-indent: 8px;
		color: #484848;
		margin-left: -9px;
	}
	.metrics{
		font-weight: 300;
		line-height: normal;
		font-size: 14px;
		text-align: right;
		letter-spacing: -1px;
		color: #008489;

	}
	.departure-date{
		font-weight: bold;
		line-height: normal;
		font-size: 10px;
		text-indent: 8px;
		color: #484848;
		padding-left: 1px;
	}




	.card-image {
	  position: relative;
	  height: 72%;
	  width: 100%;
	  // background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2) ), image-url('room1.jpeg');
	  // background: rgba(84, 84, 84, 0.6);
	  background-size: cover;
	  background-repeat: no-repeat;
	  background-position: center center;
	  border-radius: 4px;
	  // &:hover, &:active, &:focus {
	  //   outline: none;


	// }
	}


	.card-row {
	  padding: 0px 10px;
	  margin-top: 5px;
	  overflow:hidden;
	  white-space:nowrap;
	  text-overflow: ellipsis;
	  position:relative;
	  z-index:2;
	  display: flex;
	  justify-content: space-between;
	  align-items: center;
	}

	.card-margin-adjustment{
	  margin-top: 7px;
	  padding: 0px 1px;
	}

	#icon-bed{
	  margin-right: 10px;
	}

	#icon-people{
	  margin-right: 10px;
	}

}

.wrapper-profissional-moving{
	background: #FFFFFF;
	padding-left: 50px;
	padding-bottom: 100px;
	.border{
		border: 1.5px solid #8B8B8B;
		width: 62px;
		position: absolute;
		left: 50%;
	}
	h1{
		margin: 0;
		padding-top: 13px;
		margin-bottom: 37px;
		font-family: Comfortaa;
		font-style: normal;
		font-weight: bold;
		line-height: 117px;
		font-size: 60px;
		text-align: center;
		letter-spacing: -2px;

		color: #333333;
	}
	p{
		font-family: Comfortaa;
		font-style: normal;
		font-weight: 300;
		line-height: 33px;
		font-size: 16px;
		letter-spacing: -1px;
		color: #484848;
		padding-right: 63px;
	}
	ul{
		padding-left: 1px;
	}
	ul > li{
		font-family: Comfortaa;
		font-style: normal;
		font-weight: 300;
		line-height: 31px;
		font-size: 16px;
		letter-spacing: -1px;
		color: #484848;
		margin-bottom: 16px;
		list-style: none;
		.checklist-icon{
			height: 17px;
    		margin-right: 9px;
		}
		.text-bold{
			font-weight: 600;
		}
	}
}

.wrapper-list-container{
	background: #FFFFFF;
	padding-bottom: 130px;
	.list-container-box{
	    background-color: #F2F2F2;
	    border-radius: 10px;
	    padding-top: 46px;
	    padding-left: 55px;
	    padding-bottom: 36px;
		.box-text{
			h2{
				font-family: Comfortaa;
				font-style: normal;
				font-weight: bold;
				line-height: 48px;
				font-size: 36px;
				letter-spacing: -1px;
				color: #353C4C;
				margin-top: 6px;
				margin-bottom: 16px;
			}
			p{
				font-family: Comfortaa;
				font-style: normal;
				font-weight: 300;
				line-height: 44px;
				font-size: 24px;
				letter-spacing: -1px;
				color: #353C4C;
				margin-bottom: 41px;

			}
		}
		
		.btn-learn-more{
			background: #008489;
			border-radius: 5px;
	        font-family: Comfortaa;
			font-style: normal;
			font-weight: 400;
			line-height: normal;
			font-size: 20px;
			color: #FFFFFF;
			text-align: center;
    		padding: 18px 29px;
    		text-decoration: none;
    		&:hover{
    			background: #013638;
    		}
		}
		.card-mover-image-mob{	
  			background-image: image-url('container.png');
		   
		    background-size: cover;
		    height: 350px;
		    width: 100%;
		    position: relative;
		    // top: -23px;
		    // left: -10px;
		    margin-bottom: -23px;
		    background-position: 3% 104%;

		}

	}

}

.wrapper-about-us-home{
	background: #FFFFFF;
	padding: 7px;
	padding-bottom: 95px;
	.border{
		border: 1.5px solid #8B8B8B;
		width: 62px;
		position: absolute;
		left: 50%;
	}
	h1{
		margin: 0;
		padding-top: 13px;
		margin-bottom: -37px;
		font-family: Comfortaa;
		font-style: normal;
		font-weight: bold;
		line-height: 117px;
		font-size: 60px;
		text-align: center;
		letter-spacing: -2px;

		color: #333333;
	}
	h2{
		font-family: Comfortaa;
		font-style: normal;
		font-weight: bold;
		line-height: 41px;
		font-size: 26px;
		letter-spacing: -1px;

		color: #484848;
	}
	p{
		font-family: Comfortaa;
		font-style: normal;
		font-weight: 300;
		line-height: 31px;
		font-size: 16px;
		letter-spacing: -1px;

		color: #484848;
	}
	.card-why-us{
		padding: 38px;
	}
}

.FAQ-home{
	background: #FFFFFF;
	padding: 7px;
	padding-bottom: 88px;
	.border{
		border: 1.5px solid #8B8B8B;
		width: 62px;
		position: absolute;
		left: 50%;
	}
	h1{
		margin: 0;
		padding-top: 13px;
		margin-bottom: 3px;
		font-family: Comfortaa;
		font-style: normal;
		font-weight: bold;
		line-height: 117px;
		font-size: 60px;
		text-align: center;
		letter-spacing: -2px;

		color: #333333;
	}
	.card-faq{
		padding: 38px;
		 .btn-faq{
            padding: 0px 3px;
            border: 0px solid transparent;
            border-radius: 24px;
            margin-left: 8px;
            font-family: Comfortaa;
			font-style: normal;
			font-weight: 400;
			line-height: 35px;
			font-size: 18px;
			letter-spacing: -1px;
			color: #008489;
			transition: all 0.3s ease;
			background-color: transparent;
			// box-shadow: none;
			&:focus{
				 outline: none;
				 color: #b50000;
			}
			&:hover{
				font-weight: 700;
				font-size: 19.5px;
				text-transform: 1s;
			}
        }
        hr{
        	border: 1px solid #EDEDED;
        }
	}
}
.wrapper-ready-to-earn-home{
	background: #FFFFFF;
	padding-bottom: 145px;
	.image-box{
		position: relative;
		height: 500px;
		background-size: cover;
 		background-position: 0% 34%;
 		.ready-to-earn-content{
 			position: absolute;
 			top: 106px;
 			left: 70px;
 		}
	}
	h1{
		// position: absolute;
		// top: 100px;
  //   	left: 70px;
		font-family: Comfortaa;
		font-style: normal;
		font-weight: bold;
		line-height: normal;
		font-size: 60px;
		color: #FFFFFF;
		margin: 0;
		margin-bottom: 59px;
	}
	.btn-find-container{
		  background: #008489;
		  border-radius: 5px;
		  color: #FFFFFF;
		  font-family: Comfortaa;
		  font-size: 23px;
		  font-weight: 400;
		  text-align: center;
		  padding: 22px 23px;
		  &:hover{
		    background: #004749;
		    text-decoration: none;
		    color: #FFFFFF;
		  }
		  &:visited{
		    color: #FFFFFF;
		    text-decoration: none currentcolor solid
		  }	    
	}
}





