.banner-wrapper{
	display: flex;
	 background: #FFFFFF;
	.banner-content{
		    background: #FFFFFF;
		    height: 60vh;
		    width: 50vw;
		    display: flex;
		    justify-content: space-around;
		    // align-items: center;
		   padding-left: 12%;
		   padding-right: 37px;
		   padding-top: 40px;
		.banner-tagline{
			
 			h1{
 				font-family: Comfortaa;
				font-style: normal;
				font-weight: 300;
				line-height: 48px;
				font-size: 40px;
				letter-spacing: -3px;
				color: #000000;
				margin-bottom: 43px;
 			}
 		}
	}
	.get-quotes-form{
		// padding-right: 20px;
		form{
			::placeholder{
				font-family: Comfortaa;
				font-style: normal;
				font-weight: 300;
				line-height: normal;
				font-size: 16px;
				letter-spacing: -1px;
				color: #353C4C;
			}
			.col-sm-6{
				padding-right: 0px;
			}
			.col-sm-12{
				padding-right: 0px;
			}
			.get-quotes-button{
	 			padding-top: 3px;
	 			.btn-get-quotes{
	 				font-family: Comfortaa;
					font-style: normal;
					font-weight: 400;
					line-height: normal;
					font-size: 28px;
					text-align: center;
					color: #FFFFFF;
	 				background: #008489;
					box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
					border-radius: 5px;
					padding: 12px 31px;
					width: 100%;
					border: none;
					&:hover{
					   	background: #bc0000;
	      				text-decoration: none;
	      				color: #FFFFFF;
					}
					&:visited{
					    color: #FFFFFF;
	      				text-decoration: none;
					}
	 			}
	 		}
		}
	}
	
	.banner-hero{
		background-image: image-url('share-container-hero-dsk2.png');
	 	background-size: cover;
	 	height: 64vh;
	 	background-position: 68% 100%;
	 	width: 57vw;
	 	clip-path: polygon(100% 0px, 100% 100%, 18% 100%, 0% 0%);
	}
}

.location-input{
	background-image: image-url('location-icon.svg') !important;
    background-position: left;
    background-repeat: no-repeat;
    background-size: 16% 37%;
    padding: 6px 37px;

}
.costumized-input{
	border: 1px solid #B4BBC6;
}

.wrapper-moving-benefits{
	// height: 14vh;
	// background: #FFFFFF;
	// // box-shadow: 4px 4px rgba(0, 0, 0, 0.25);
	//  padding: 10px;
 //  	box-shadow: 5px 10px red;
 //  	position: relative;
  	position: relative;
  	z-index: 2;
    padding-top: 32px 0;
    background-color: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-top: 0.4px solid rgba(0, 0, 0, 0.1);
    padding: 25px 0;
	.benefits-card{
		display: flex;
		justify-content: space-around;
		align-items: center;
		text-align: center;
		.benefits-content{
			h2{	
				font-family: Comfortaa;
				font-style: normal;
				font-weight: bold;
				line-height: 41px;
				font-size: 22px;
				text-align: center;
				letter-spacing: -1px;
				color: #333333;
				margin: 0;
			}
			p{
				font-family: Comfortaa;
				font-style: normal;
				font-weight: normal;
				line-height: 22px;
				font-size: 15px;
				text-align: center;
				letter-spacing: -1px;
				color: #484848;
				margin: 0;
			}
		}
	}
	.border-right{
		border-right: 1px solid #DCE1E1;
	}
}



.wrapper-steps-to-share-container{
	position: relative;
	background: white;
	padding-top: 96px;
	padding-bottom: 140px;
	h1{
		font-family: Comfortaa;
		font-style: normal;
		font-weight: bold;
		line-height: 48px;
		font-size: 40px;
		text-align: center;
		letter-spacing: -3px;
		color: #333333;
		margin-top: 20px;
		margin-bottom: 50px;
	}
	.main-border{
		border: 1.5px solid #8B8B8B;
		width: 62px;
		position: absolute;
		left: 50%;
	}
	
	.gif-container{
		img{
			height: auto;
    		width: 100%;
		}
	}
	.gif-book-online{
		img{
			height: auto;
    		width: 100%;
		}
	}
	.earn-money{
		img{
			height: auto;
    		width: 100%;
		}
	}
	.margin-right-large{
		    margin-right: 99px;
	}
	.margin-right-small{
		margin-right: 57px;
	}
	.compare-movers-section{
		margin-top: 58px;
		.border{
			border: 1px solid #B4BBC6;
			width: 62px;
			
		}
		h2{
			font-family: Comfortaa;
			font-style: normal;
			font-weight: bold;
			line-height: 37px;
			font-size: 28px;
			letter-spacing: -1px;
			color: #000000;
			margin-top: 24px;
		}
		p{

			font-family: Comfortaa;
			font-style: normal;
			font-weight: normal;
			line-height: 32px;
			font-size: 16px;
			color: #484848;
		}
	}
	.book-your-move-section{
		margin-top: 58px;
		.border{
			border: 1px solid #B4BBC6;
			width: 62px;
			
		}
		h2{
			font-family: Comfortaa;
			font-style: normal;
			font-weight: bold;
			line-height: 37px;
			font-size: 28px;
			letter-spacing: -1px;
			color: #000000;
		}
		p{

			font-family: Comfortaa;
			font-style: normal;
			font-weight: normal;
			line-height: 32px;
			font-size: 16px;
			color: #484848;
		}
	}
	.earn-money-section{
		margin-top: 58px;
		.border{
			border: 1px solid #B4BBC6;
			width: 62px;
			
		}
		h2{
			font-family: Comfortaa;
			font-style: normal;
			font-weight: bold;
			line-height: 37px;
			font-size: 28px;
			letter-spacing: -1px;
			color: #000000;
		}
		p{

			font-family: Comfortaa;
			font-style: normal;
			font-weight: normal;
			line-height: 32px;
			font-size: 16px;
			color: #484848;
		}
	}
	.cta-section{
 			text-align: center;
 			margin-top: 70px;
			.btn-get-quotes{
 				font-family: Comfortaa;
				font-style: normal;
				font-weight: 400;
				line-height: normal;
				font-size: 28px;
				text-align: center;
				color: #FFFFFF;
 				background: #008489;
				box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
				border-radius: 5px;
				padding: 15px 72px;
				&:hover{
				   	background: #bc0000;
      				text-decoration: none;
      				color: #FFFFFF;
				}
				&:visited{
				    color: #FFFFFF;
      				text-decoration: none;
				}
 			}
 		}
}

.wrapper-banner-header{
	background: white;
	padding: 0px 15px;
	margin-top: -101px;
	height: 53vh;
	h1{
		margin: 0;
		margin-top: 51px;
		font-family: Comfortaa;
		font-style: normal;
		font-weight: 300;
		line-height: normal;
		font-size: 36px;
		letter-spacing: -2px;
		color: #333333;
		padding-top: 31px;
		padding-bottom: 41px;
	}
	p{
		margin: 0;
		margin-top: 14px;
		font-family: Comfortaa;
		font-style: normal;
		font-weight: normal;
		line-height: 32px;
		font-size: 27px;
		letter-spacing: -1px;

		color: #484848;
	}
	.get-quotes-button{
		padding-top: 49px;
		text-align: center;
		.btn-get-quotes{
			font-family: Comfortaa;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		font-size: 22px;
		text-align: center;
		color: #FFFFFF;
			background: #008489;
		box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
		border-radius: 5px;
		padding: 15px 72px;
		border: none;
		&:hover{
		   	background: #bc0000;
				text-decoration: none;
				color: #FFFFFF;
		}
		&:visited{
		    color: #FFFFFF;
				text-decoration: none;
			}
		}
	}
	.modal{
		.modal-header{
			border-bottom: none;
			padding-top: 23px;
			.close{
				top: -15px;
				font-weight: 400;
				color: #008489;
				opacity: 1;
			}
		}
		.modal-content{
			.modal-title{
				font-weight: 400;
				margin-bottom: -48px;
				font-size: 18px;
			}
		}
	}
}

.wrapper-calculator{
	background-image:  image-url('calculator-hero.png');
 	background-size: cover;
 	height: 75vh;
 	background-position: bottom;
 	.header-card{
 		    padding-top: 20%;
 		.calculator-description{
 			h2{
 				font-family: Comfortaa;
				font-style: normal;
				font-weight: bold;
				font-size: 40px;
				line-height: normal;
				letter-spacing: -1px;
				color: #333333;
 			}
 			p{
 				font-family: Comfortaa;
				font-style: normal;
				font-weight: normal;
				font-size: 24px;
				line-height: 36px;
				color: #484848;
 			}
 			.get-quotes-button{
	 			padding-top: 40px;
	 			.btn-get-quotes{
	 				font-family: Comfortaa;
					font-style: normal;
					font-weight: 400;
					line-height: normal;
					font-size: 28px;
					text-align: center;
					color: #FFFFFF;
	 				background: #008489;
					box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
					border-radius: 5px;
					padding: 12px 45px;
					width: 100%;
					border: none;
					&:hover{
					   	background: #bc0000;
	      				text-decoration: none;
	      				color: #FFFFFF;
					}
					&:visited{
					    color: #FFFFFF;
	      				text-decoration: none;
					}
	 			}
	 		}
 		}
 	}
 	.form-card{
 		.calculator-form{
 			background: #FFFFFF;
			opacity: 0.95;
			border: 1px solid #B4BBC6;
			box-sizing: border-box;
			box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
			border-radius: 5px;
			padding: 14px 67px;
			margin-top: 77px;
 			p{
 				font-family: Comfortaa;
				font-style: normal;
				font-weight: bold;
				font-size: 16px;
				line-height: normal;
				letter-spacing: -1px;
				color: #353C4C;
				margin-top: 23px;
				margin-bottom: 3px;
 			}
		 	.col-sm-7{
		        padding-right: 10px;
		    }
		    .col-sm-5{
		        padding-left: 0;
		    }
		     .form-control{
			    height: 49px;
			    border-radius: 5px;
			    border: 1px solid #B4BBC6;
			    // box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.060);
			    color: rgba(53, 60, 76, 0.8);
			    font-family: Comfortaa;
			    font-style: normal;
			    font-weight: 300;
			    line-height: normal;
			    font-size: 16px;
			    letter-spacing: -1px;
			}
 			.form-group{
       			margin-bottom: 10px;
        		::placeholder{
             		color: rgba(53, 60, 76, 0.8);
        		}
    		}
    		.chart-container{
		    	padding: 20px 0px;
		    	// background: yellow;
		    	height: 220px;
		    	display: flex;
    		}
    		.calculator-chart-card{
    			margin: 0 auto;
    			height: 150px;
    			// background: yellow;
    			// align-items: flex-start;
    			// display: flex;
    			.chart-box{
    				    width: 100%;
    				.chart-value{
						    position: absolute;
						    left: 50%;
						    top: 50%;
						    transform: translateY(-50%) translateX(-50%);
						    display: inline-block;
						    font-family: Comfortaa;
							font-style: normal;
							font-weight: bold;
							font-size: 36px;
							line-height: normal;
							letter-spacing: -1px;
							color: #333333;

    				}
    				.large-font{
						font-size: 39px;
    				}
    				img{
						width: 100%;
						height: 100px;
    				}


    			}
    			.large-img{
	    			height: 141px !important;
	    				}
    			.gaugeChar{
    				position: relative;
    			}
    			.small-chart-top-margin{
    				margin-top: 15px;
    			}
    			.chart-title{
    				p{
    					font-family: Comfortaa;
						font-style: normal;
						font-weight: 300;
						font-size: 14px;
						line-height: normal;
						text-align: center;
						color: #484848;
						margin: 0;
						margin-top: 9px;

    				}
    			}
    			.title-width{
    				width: 186px;
    			}
    		}
    		.results-btn{
    			.btn-calculate{
    				background: #008489;
					border-radius: 5px;
					font-family: Comfortaa;
					font-style: normal;
					font-weight: bold;
					font-size: 24px;
					line-height: normal;
					text-align: center;
					color: #FFFFFF;
					height: 50px;
					width: 100%;
    			}
    		}
    		
 		}
 	}

}
.wrapper-padding-top{
	padding-top: 150px;
}

@media only screen 
  and (max-width: 320px){
  	.banner-share-my-container{
  	    background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.5) ), image-url('sitted-lady-mob2.png');
		height: 42vh;
		background-position: 81% 104%;
  	}
  	.wrapper-banner-header{
  		h1{
  			font-size: 32px;
    		margin-top: 32px;
  		}
  		p{
  			font-size: 20px;
  		}
  		.get-quotes-button{
  			padding-top: 17px;
  			.btn-get-quotes{
				width: 100%;
				padding: 15px 31px;
				border: none;

			}
  		}
  		.modal{
	  		.modal-header{
	  			font-size: 16px;
	  			.close{
	  				top: -11px;
	  			}
	  		}
	  		.modal-content{
				.modal-title{
					font-weight: 400;
					margin-bottom: -48px;
					font-size: 16px;
				}
			}
			.modal-body{
				padding: 0;
				padding-top: 15px;
			}
	  	}
  	}
  	.banner-wrapper{
  		.get-quotes-form{
			form{
				
			}
  		}
  	}
	.location-input{
  		padding: 6px 33px;
  		background-size: 13% 31%;
  	}


}

@media only screen 
  and (min-width: 321px)
  and (max-width: 767px){
  	.banner-share-my-container{
  	    background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.5) ), image-url('sitted-lady-mob2.png');
		height: 42vh;
		background-position: 81% 104%;
  	}
  	.location-input{
  		padding: 6px 33px;
  		background-size: 13% 31%;
  	}
  	.wrapper-banner-header{
		.get-quotes-button{
			padding-top: 17px;
			.btn-get-quotes{
				width: 100%;
				border: none;
			}
		}
  	}
  	.banner-wrapper{
  		.get-quotes-form{
			form{
				::placeholder{
					font-size: 10px;
				}
			}
  		}
  	}
  }


