
<!-- Modal -->
<div class="modal fade" id="what-protection-do-i-have" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">What protection do I have against property damage?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>This earnings estimate assumes most of your unused space is fully booked (container occupancy at 91%), and using your own door to door price  to calculate selling per cubic meter/ cubic feet. <br>
        How much you actually make may vary with your pricing, dates and itinerary of your container, actual occupancy rate, season, demand, local laws, and other factors.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-estimate-modal-close" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>