<!-- Modal -->
<div class="modal fade" id="who-can-start-a-groupage" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Who can list a container?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Any expat can create a new listing. However, to help create professional, affordable moves for all, we ask everyone creating a listing to meet five basic requirements: <br> <br>

        1- Move abroad: only expats relocating abroad and shipping their used household goods can add their container listing. Diplomats can list their container too. Depending on their itinerary their diplomatic immunity might however be voided. Contact your mover for more information. <br> <br>

        2- Hire a seasoned mover: coshippers vets and partners with moving companies worldwide. Only containers booked with our approved moving companies will be listed. Email us at hello@coshippers.com if your mover is not a coshippers partner yet. <br> <br>

        3- Avoid schedule changes: We take delays/ cancellations seriously and ask you to avoid schedule changes as your coshippers’ plans depend on it. <br>  <br>

        4- Follow your mover’s instructions strictly: handling a shared-container smoothly implies everyone’s swift cooperation with the moving company. <br> <br>

        5- Bear unforeseen extra charges: unless agreed otherwise with your mover, any unforeseen charge linked to the container should be payable in full by the person who lists it.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-estimate-modal-close" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>