
<!-- Modal -->
<div class="modal fade" id="what-protection-do-i-have" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Will my goods be mixed with <br> others in the container?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Each move in your container will be physically  separated from the others. <br> <br>

        Techniques vary from a moving company to the other but most will use plywood/carboard sheets to create a wall between each move. <br> <br>

        In certain cases, moves are loaded onto pallets or packed in individual lift-vans.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-estimate-modal-close" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>