<!-- Modal -->
<div class="modal fade" id="what-is-required-for-expats" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">What is required of expats <br> joining my container?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>We ask everyone who uses myGroupage for a few pieces of information before they relocate with us. Expats booking space in your container need to have this info completely filled out before they can make a reservation request. This info helps make sure your mover has all the information needed to guarantee a smooth move for all. <br> <br>

        myGroupage’s requirements for expats booking  include: <br>
           • Full name <br>
           • Email address <br>
           • Phone number <br>
           • Move details (size, route, other specifics) <br>
           • Agreement to customs requirements <br>
           • Payment information <br> <br>

        Expats booking in your container are expected, but not required, to have a profile picture. </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-estimate-modal-close" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>