
<!-- Modal -->
<div class="modal fade" id="how-can-mygroupage-help" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">How can coshippers help <br> me with setting prices?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>The price you charge for your listing is completely up to you. To help you decide, we provide a tool and advice based on the amount of unused space you have, your route, the season, demand, and other factors.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-estimate-modal-close" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>