<!-- Modal -->
<div class="modal fade" id="how-much-does-it-cost-to-list" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Is there any guarantee that <br> my container will fill up?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p><b>Hundreds are moving</b> <br>
          Once you’ve booked your container, expats from all over can find it in the search results. Some have set an alert for your itinerary and are notified. <br> <br>

          <b>Tips along the way</b> <br>
          If you’re having any trouble filling your container up, we’ll provide you with advice on how to reach expats potentially interested in sharing your container. <br> <br>

          <b>Social media tools</b> <br>
          Reaching your community online is pretty easy and effective. We provide you with simple tools to share your groupage on social medias, in a few clicks. <br><br>

          Having said the above, we cannot guarantee that we will find you a match. You may end up having to ship the container only for yourself.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-estimate-modal-close" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>