<div class="devise-footer navbar-fixed-bottom hidden-xs">
	<div class="row">
		<div class="col-sm-6">
			<div class="form-box">
				<hr>
				<div class="rights-reserved">  
			    	<p>© mygroupage 2018 -  All rights reserved</p>
			    	<p>Terms of service  ·  Privacy Policy</p>
				</div>
			</div>
			
		</div>
		<div class="col-sm-6">
			
		</div>
	</div> 
</div>

<div class="devise-mobile-footer hidden-sm hidden-md hidden-lg">
	
		
			<div class="mob-form-box">
				<hr>
				<div class="rights-reserved">  
			    	<p>© mygroupage 2018 -  All rights reserved</p>
			    	<p>Terms of service  ·  Privacy Policy</p>
				</div>
			</div>
			
	
	
</div>