<div class="groupage-mob-footer">
	<div class="container">
		<div class="footer-line">
			<hr>
		</div>
		<div class="rights-reserved">
			<%= link_to root_path, class: "logo-footer" do %>
	      		<%= image_tag "logo-deskt.png", height: 30 %>
	   		 <% end %>
	   		<p>© mygroupage 2018 
			</p>
		</div>
	</div>
</div>