<div class="groupage-mob-footer">
	<div class="container">
		<div class="footer-line">
			<hr>
		</div>
		<div class="rights-reserved">
			<%= link_to root_path, class: "logo-footer" do %>
	      		<%= image_tag "logo@3x.png", height: 30 %>
	   		 <% end %>
	   		<p>© coshippers 2019 
			</p>
		</div>
	</div>
</div>