<!-- Modal -->
<div class="modal fade" id="estimate" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">How the calculator works</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>This earnings estimate assumes most of your unused space is booked (container is 91% full), and uses your own door to door price to calculate selling per cubic meter/ cubic feet. <br> <br>

        How much you actually make may vary with your container cost, dates of your move, itinerary of your move, actual occupancy rate, season, demand, local laws, and other factors. <br><br>

        __ <br>
        <b>Detailed calculations </b><br><br>

        <u><b>1- Price per m3 / cuft</b></u> <br>
        The calculator estimates a selling price per m3 / cuft using : <br>
        - the figure you provided under “best quote I got” <br>
        - your container size <br>
        - the maximum container occupancy. <br><br>

        Example: for a 20’ container quoted at 6,000 USD, we’ d suggest to sell every m3 of unused space at 200 USD maximum (or ~5.66 USD per cuft). <br>
        -> 6,000 USD / 33 m3 x 91% = ~200 USD/m3 <br><br>

        <u><b>2- Amount of space you can spare/make available for bookings</b></u><br>
        The calculator considers the amount of space you can spare using: <br>
        - your own move size <br>
        - your container size <br> 
        - a default maximum container occupancy of 91%. <br> <br>

        Example: if the volume of your move is 20 m3/700 cuft and you have booked a 20’ container, the calculator considers you have ~10 m3/350 cuft of unused space.
        -> 33 m3 x 91% - 20 m3 = ~10 m3 <br> <br>

        <u><b>3- Container sizes </b></u><br>
        20’ Container - approx. 33 m3 / 1,165 cuft <br>
        40’ Container - approx. 66 m3 / 2,330 cuft <br>
        40’ High cube - approx. 76 m3 / 2,684 cuft <br> <br>

        https://en.wikipedia.org/wiki/ Intermodal_container#S <br>pecifications</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-estimate-modal-close" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>