<div class="moving-guides-wrapper">
	<div class="container">
		<div class="moving-guides-banner">
			<div class="banner-text">
				<h1>The ultimate international relocation checklist</h1>
				<p>Thank you for visiting movabroad - your international relocation specialist So you've landed the perfect destination for your next big step in life ( . . . )</p>
				<%= link_to "read more", "#" , class: "fff" %>
			</div>
		</div>
	</div>
</div>




