<div class="close-form-section padding-top">

	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-6">
				<h2 class="padding-top">Thank you!</h2>
				<p>Your form was submitted successfully! <br>

				Our team will get in touch with you soon. </p>
			</div>
			<div class="col-xs-12 col-sm-6 hidden-xs">
				<div class="image-background">
					<%= image_tag "ship.svg", height: 600, class: "ship-img" %>
				</div>
				
			</div>
		</div>
		
	</div>
</div>