<div class="blank-wrapper">
        
</div>
<div class="opening-form-section">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-6">
				<h2>Your quote is under way !</h2>
				<p>Thanks for requesting the list of our approved partners. Please check your mailbox, your list should be sent soon. Come back and list your container when you are ready.</p>
				<div class="buttons-section hidden-xs">
					 <%= link_to "Back",   share_my_container_path , class: "btn-get-list" %>
				</div>	
			</div>		
				
			<div class="col-xs-12 col-sm-6">
				<div class="image-background">
					<%= image_tag "mover-track-icon.svg", height: 500, class: "mover-track-img" %>
				</div>
				<div class="buttons-section hidden-sm hidden-md hidden-lg">
					 <%= link_to "Home",   new_container_path , class: "btn-get-list full-width" %>
				</div>	
			</div>
		</div>
		
	</div>
</div>


