<div class="blank-wrapper">
        
</div>
<div class="opening-form-section">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-6">
				<h2>Thanks for reaching out!</h2>
				<p>Our moving partners shall contact you soon to discuss your move into more details and schedule a survey. <br> <br>
				If you have any questions in the meantime, please email us at <span style="color: #5AC5C2; font-weight: 400;">hello@coshippers.com</span> </p>
				<div class="buttons-section hidden-xs">
					 <%= link_to "Back",   share_my_container_path , class: "btn-get-list" %>
				</div>	
			</div>		
				
			<div class="col-xs-12 col-sm-6">
				<div class="image-background">
					<%= image_tag "mover-track-icon.svg", height: 500, class: "mover-track-img" %>
				</div>
				<div class="buttons-section hidden-sm hidden-md hidden-lg">
					 <%= link_to "Home",   new_container_path , class: "btn-get-list full-width" %>
				</div>	
			</div>
		</div>
		
	</div>
</div>


