<div class="terms-and-conditions">
  <div class="light-grey-background">
    <div class="container">
      <div class="row grey-container">
      </div>
    </div>
    <div class="groupages-near white-inner-container">
      <div class="groupages-near-inner">
        <div class="container">
          <div>
            <span class="groupage"><b>Terms & Conditions</b></span>
          </div>
          <div class="inner-container container-align">
            <p>
              These are the terms and conditions of use for <%= link_to 'https://www.coshippers.com', 'https://www.coshippers.com', style: "color: inherit;" %> (“The Site”, “The Website”).
              This Website is operated by Move Labs Lda. (“coshippers”, “Move Labs“, “we”, “us” and “our”).
              These terms explain key aspects about the Website, the services offered and coshippers’s role in providing those services.
              These terms are a legally binding contract between you and us.
              Your access to and use of the Site and Services is conditioned on your acceptance of and compliance with these Terms.
              These Terms apply to all visitors, users and others who access or use the Website.
              We update these terms from time to time so you should return to this page and read the Terms again to keep updated with latest changes.
              Your use of the Website will be taken as your acceptance of the latest version of these terms.
              You must be at least 18 years old to use the Site.
            </p>
          </div>
          <div class="inner-container container-align">
            <h3>Privacy and your personal information.</h3>
            <p>
              These Terms of Use refer to our <%= link_to 'Privacy Policy', privacy_policy_path, style: "color:  #008489;; text-decoration: underline;" %>, which set out the terms on which we process any personal data that you provide to us, or that we collect from you.
              By using our site, you consent to such processing.
              The <%= link_to 'Privacy Policy', privacy_policy_path, style: "color:  #008489; text-decoration: underline;" %> may be updated from time to time at coshippers’s discretion and any update shall be effective upon posting to the Site.
            </p>
          </div>
          <div class="inner-container container-align">
            <h3>Notices, Alerts and other emails</h3>
            <p>
              You agree to receive notices at the e-mail address that you use to sign-up for coshippers.com.
              Example of notices include (but are not limited to), a welcome email upon signing up, a confirmation email upon requesting one or more of the Services, notifications throughout the processes (such as Estimates and Groupages statuses), quotes and/or offers coshippers has gathered for you.
              From time to time, we may email you helpful reminders or notifications of new features and/or products.
              You may disable future alerts at any time by emailing us at help@coshippers.com.
            </p>
          </div>
          <div class="inner-container container-align">
            <h3>Description of our services</h3>
            <p>
              We provide you with an independent website that enables you to: (i) specify your international relocation requirements and services needed (“The Services”, “Services”), (ii) receive independent advice from coshippers, and quotes for services you have requested from several third-party companies (“Partners”, “Local Partners”) and (iii) book services on your behalf directly with the Partner you have selected.
              coshippers is not a broker.
              coshippers’s sole function is to help you formulate detailed and accurate service requests, and pass them on anonymously to our network of trusted Partner companies.
              The Partners revert with quotes/offers matching your requirements with the hope that you will enter into a contract with them for the provision of international relocation related services.
            </p>
          </div>
          <div class="inner-container container-align">
            <h3>Your use of the Website.</h3>
            <p>
              Your use of the Website is subject to our terms and conditions, and by using the Website you agree to be bound by them.
              Any service you request from the Website will be supplied subject to the details you provided and the terms and conditions of the relevant Partner Company providing the services.
              The Partners’ terms and conditions will be made available to you before you book services.
              You should read them carefully before going ahead with a booking.
              Quotes and offers presented by coshippers are based on the information & details that you provide to us via the Website, Phone, email, chat and any other communication channel used between you and coshippers.com.
              It is your responsibility to ensure that you provide complete, accurate and up-to-date information regarding your requirements when you request quotes for services.
              If you change any detail after requesting quotes via the Website, please do inform coshippers.com of the same and make sure it was taken into account on the offers you receive.
              If you need to change any of the details after making a booking, you will need to contact the Partner, as it may affect the agreed price or the Partner’s ability to perform the requested service.
              The Partner’s terms and conditions will apply in the event that you wish to make any changes following a booking.
            </p>
          </div>
          <div class="inner-container container-align">
            <h3>coshippers’s role.</h3>
            <p>
              We are not a party to any contract between you and a Partner for the performance of any service provided by that Partner.
              Our role is limited to the supply of independent advice & quotes for international relocation-related services to you, via the Website;
              If you accept a Partner’s offer, the Partner will enter into a contract with you directly.
              We won’t act as the Partner’s agent in respect of those contracts and fees payable under such contracts will be payable directly to the Partner.
            </p>
          </div>
          <div class="inner-container container-align">
            <h3>Intellectual property rights</h3>
            <p>
              Any logos, trademarks, service marks and domain names and all related intellectual property rights of Partners within our network that may be displayed from time to time on our Website belong to those removals firms and you may not reproduce them without their prior written consent.
              Except as provided above, all intellectual property rights including, without limitation, all logos, trademarks, service marks, domain names, database rights, rights in design, rights in know-how, patents and rights in inventions (in all cases whether registered or unregistered and including all rights to apply for registration) and all other intellectual or industrial property rights in any jurisdiction in any information, content, materials, data or processes contained in or underlying this Website and / or the service coshippers provides through the Website are owned or licensed by Move Labs.
              All rights of Move Labs in relation to such intellectual property rights are hereby reserved.
            </p>
          </div>
          <div class="inner-container container-align">
            <h3>Prohibited Uses</h3>
            <p>You may use our Website only for lawful purposes. You may not use our site:</p>
            <ul>
              <li>for any purpose that is unlawful or prohibited by these terms and conditions;</li>
              <li>in any manner that could damage, disable, overburden, or impair the Website or interfere with any other party’s use and enjoyment of the Website;</li>
              <li>to obtain or attempt to obtain any materials or information through any means not intentionally made available or provided for through the Website;</li>
              <li>In any manner that breaches any applicable local, national law or regulation;</li>
              <li>To transmit or send any unsolicited or unauthorized advertising or promotional material or any form of unwanted solicitation (spam).</li>
            </ul>
          </div>
          <div class="inner-container container-align">
            <h3>Our liability to you</h3>
            <p>
              As we are not a party to any contract between you and a Partner for the performance of any service provided by that Local Partner, we will not be responsible or liable to you in relation to that service.
              Under no circumstances will coshippers be responsible for any loss or damage, including personal injury or death, resulting from anyone’s use of the Site or the Services. To the maximum extent permitted by law, we exclude all conditions, warranties, representations or other terms which may apply to our site or any content on it, whether express or implied.
              To the maximum extent permitted by law, we will not be liable to any user for any loss or damage, whether in contract, tort (including negligence), breach of statutory duty, or otherwise, even if foreseeable, arising under or in connection with:
            </p>
            <ul>
              <li>Use of, or inability to use, our site;<br/>or</li>
              <li>Use of or reliance on any content displayed on our site;</li>
              <li>
                Your appointment, instruction or use of suppliers or other persons found through or as a result of using our site.<br />
                Please note in particular that, to the maximum extent permitted by law, we will not be liable for:</li>
              <li>Loss of profits, sales, business, revenue or earnings;</li>
              <li>Business interruption;</li>
              <li>Loss of anticipated savings;</li>
              <li>Loss of business opportunity, goodwill or reputation;<br/>or</li>
              <li>Any indirect or consequential loss or damage.</li>
            </ul>
            <p>
              We will not be liable for any loss or damage caused by a virus, distributed denial-of-service attack, or other technologically harmful material that may infect your computer equipment, computer programs, data or other proprietary material due to your use of our site or to your downloading of any content on it, or on any website linked to it.
              We assume no responsibility for the content of websites linked on our site.
              Such links should not be interpreted as endorsement by us of those linked websites.
              We will not be liable for any loss or damage that may arise from your use of them.
            </p>
          </div>
          <div class="inner-container container-align">
            <h3>Links To Other Web Sites</h3>
            <p>
              Our Service may contain links to third-party web sites or services that are not owned or controlled by coshippers.
              coshippers has no control over, and assumes no responsibility for, the content, privacy policies, or practices of any third party web sites or services.
              You further acknowledge and agree that coshippers shall not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with use of or reliance on any such content, goods or services available on or through any such web sites or services.
            </p>
          </div>
          <div class="inner-container container-align">
            <h3>Changes</h3>
            <p>
              We reserve the right, at our sole discretion, to modify or replace these Terms at any time.
              If a revision is material we will try to provide at least 15 days’ notice prior to any new terms taking effect.
              What constitutes a material change will be determined at our sole discretion.
            </p>
          </div>
          <div class="inner-container container-align">
            <h3>Contact Us</h3>
            <p>If you have any questions about these Terms & Conditions, please contact us:</p>
            <%= render partial: 'contact_address' %>
            <p>or email us at help@coshippers.com</p>
          </div>
          <div class="inner-container container-align">
            <p>Last updated: 14 February 2019</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
