
<!-- Modal -->
<div class="modal fade" id="what-protection-do-i-have-mob" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">What are customs implications?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>All shared-containers published on our platform are compliant with departure and arrival countries' customs regulations. Generally, our moving partners clear each move separately, under its owner's name. This means each shipper sharing the container space is responsible for his own shipment. <br> <br>
 
        Please note that we don't operate shared-containers in countries where customs have no set procedure to clear them (Brazil being one of these countries for example).</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-estimate-modal-close" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>