.steps-to-share-container-mob{
	background: white;
	padding: 0 15px;
	padding-top: 80px;
	h1{
	    font-family: Comfortaa;
	    font-style: normal;
	    font-weight: bold;
	    letter-spacing: -2px;
	    color: #333333;
	    line-height: 38px;
	    font-size: 36px;
	    text-align: left;
	     margin-top: 22px;
	     margin-bottom: 29px;



	}
	.border{
		border: 1.5px solid #8B8B8B;
	    width: 62px;
	    position: static;
	}
	.text-center{
		text-align: center;
	}
	.gif-container{
		display: flex;
	    align-items: center;
	    justify-content: space-around;
		img{
			height: auto;
			width: 100%;
		}
	}
	.compare-movers-section {
		margin-bottom: 40px;
		h2{
			font-family: Comfortaa;
			font-style: normal;
			font-weight: bold;
			line-height: 37px;
			font-size: 28px;
			letter-spacing: -2px;
			color: #000000;
			margin-top: 7px;
		}
		p{
			font-family: Comfortaa;
			font-style: normal;
			font-weight: normal;
			line-height: unset;
			font-size: 16px;

			color: #484848;
			margin-bottom: 46px;
		}
		.sec-header-margin-top{
			margin-top: 29px;
		}
	}
	.gif-book-online{
		display: flex;
	    align-items: center;
	    justify-content: space-around;
	  
		img{
			height: auto;
			width: 100%;
			margin-top: 7px;
		}
		.img-margin-top{
			margin-top: 29px;
		}
	}
	.book-your-move-section{
		margin-bottom: 40px;
		.border{
			border: 1px solid #B4BBC6;
			width: 62px;
		}
		h2{
			font-family: Comfortaa;
			font-style: normal;
			font-weight: bold;
			line-height: 37px;
			font-size: 28px;
			letter-spacing: -2px;

			color: #000000;
			    margin-top: -1px;
		}
		p{
			font-family: Comfortaa;
			font-style: normal;
			font-weight: normal;
			line-height: unset;
			font-size: 16px;
			color: #484848;
			margin-bottom: 46px;
		}
		.sec-header-margin-top{
			margin-top: 29px;
		}
	}
	.gif-earn-money{

		display: flex;
	    align-items: center;
	    justify-content: space-around;
	   
		img{
			height: auto;
			width: 100%;
			margin-top: 30px;
		}
	}
	.earn-money-section{
	
		.border{
			border: 1px solid #B4BBC6;
			width: 62px;
		}
		h2{
			font-family: Comfortaa;
			font-style: normal;
			font-weight: bold;
			line-height: 37px;
			font-size: 28px;
			letter-spacing: -2px;
			color: #000000;
			margin-top: 35px;
		}
		p{
			font-family: Comfortaa;
			font-style: normal;
			font-weight: normal;
			line-height: unset;
			font-size: 16px;
			color: #484848;
   			 margin-bottom: 80px;
		}
		.earn-header-margin{
			margin-top: 23px;
		}
	}
	.header-margin-top{
		margin-bottom: 44px;
	}


}



@media only screen 
  and (max-width: 320px){
	.steps-to-share-container-mob{
		.compare-movers-section{
			// .border{
			// 	border: 1.5px solid #8B8B8B;
			//     width: 62px;
			//     position: static;
			// }
			h2{
				font-size: 26px;
			}
			p{
				font-size: 16px;
				font-weight: 300;
			}
		}
	}
}