.banner{
	
 	// background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0), image-url('men.jpeg'));
    background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0) ), image-url('men3.jpg');
    // transform: matrix(-1, 0, 0, 1, 0, 0);
 	background-size: cover;
 	height: 83vh;
 	background-position: top;
 	// z-index: 1;
    .col-sm-5{
        float: right;
    }
    position: relative;
    .col-sm-6{
       float: right; 
    }

}

.form-calculator{
	background: white;
    // margin-top: 50px;
    padding: 31px;
    border-radius: 5px;
    position: absolute;
    top: 178px;

    h1{
    	font-family: Comfortaa;
    	font-weight: bold;
    	font-size: 40px;
    	letter-spacing: -2px;
    	color: #333333;
        line-height: 46px;
    }
    p{
    	font-family: Comfortaa;
    
	    font-weight: 400;
	    line-height: 21px;
	    font-size: 17px;
	    letter-spacing: -1px;
	    color: #484848;
        margin-bottom: 15px;
    }
    .form-control{
       height: 49px;
    border-radius: 5px;
    border: 1px solid #B4BBC6;
    // box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.060);
    color: rgba(53, 60, 76, 0.8);
    font-family: Comfortaa;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    font-size: 16px;
    letter-spacing: -1px;

    }
    .form-group{
        margin-bottom: 10px;
        ::placeholder{
             color: rgba(53, 60, 76, 0.8);
        }
    }
    .col-xs-7{
        padding-right: 10px;
    }
    .col-xs-5{
        padding-left: 0;
    }

    .btn-calculate{
        background: #5AC5C2;
        border-radius: 5px;
        color: #FFFFFF;
        font-family: Comfortaa;
        font-size: 19px;
        font-weight: 400;
        border: 1px solid #FFFBFB;
        text-align: center;
        width: 100%;
        height: 49px;
        &:hover{
            background: #008489;
        }
    }
    .results-section{
        margin-bottom: 7px;
        h3{
            margin: 0;
            margin-bottom: -4px;
        }
        .results-savings{
            font-family: Comfortaa;
            font-style: normal;
            font-weight: bold;
            line-height: normal;
            font-size: 40px;
            letter-spacing: 0px;
            color: #333333;
        }
        .results-currency{
            font-size: 27px;
            font-family: Comfortaa;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            letter-spacing: 1px;
            color: #333333;
        }
        .results-earn-up-to{
            font-family: Comfortaa;
            font-size: 12px;
            letter-spacing: -1px;
            line-height: 21px;
            /* letter-spacing: -1.5px; */
            color:  #484848;
            font-weight: 300;
            margin-right: -12px;
            
        }
        .results-values{
            margin-top: 28px;
        }
        .btn-information{
            padding: 0px 3px;
            border: 0px solid transparent;
            border-radius: 24px;
            margin-left: 8px;
            background-color: transparent;
            
            i{
              color: #B4BBC6;
              font-size: 12px;
            }
             &:focus{
                 outline: none;
                 color: #b50000;
            }
        }
    }
    .results-btn{
            margin-top: 39px;
        }
  
}

//mobile form
.mob-form-calculator{
    p{
        font-family: Comfortaa;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        font-size: 18px;
        letter-spacing: -1px;
        color: #484848;
        text-align: center;
        margin-top: 35px;
    }

    .form-control{
       height: 49px;
    border-radius: 5px;
    border: 1px solid #B4BBC6;
    // box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.060);
    color: rgba(53, 60, 76, 0.8);
    font-family: Comfortaa;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    font-size: 16px;
    letter-spacing: -1px;
    // background-image: image-url("polygon.svg");
    // background-position: right;
    // background-repeat: no-repeat;
    //  background-size: 24px 10px;

    }
    .form-group{
        margin-bottom: 10px;
        ::placeholder{
             color: rgba(53, 60, 76, 0.8);
        }
    }
    .col-xs-7{
        padding-right: 10px;
    }
    .col-xs-5{
        padding-left: 0;
    }
    h3{
        margin-top: 12px;
        .results-savings{
            font-family: Comfortaa;
            font-style: normal;
            font-weight: bold;
            line-height: normal;
            font-size: 30px;
            letter-spacing: 0px;
            color: #333333;
        }
        .results-currency{
            font-size: 24px;
            font-family: Comfortaa;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            letter-spacing: 1px;
            color: #333333;
        }
    }
    .information{
            margin-bottom: 18px;
            margin-top: -14px;
        .results-earn-up-to{
            font-family: Comfortaa;
            font-size: 12px;
            letter-spacing: -1px;
            line-height: 21px;
            /* letter-spacing: -1.5px; */
            color:  #484848;
            font-weight: 300;
            margin-right: -12px;
            
        }
        .btn-information{
            padding: 0px 3px;
            border: 0px solid transparent;
            border-radius: 24px;
            margin-left: 8px;
            background-color: transparent;
            
            i{
              color: #B4BBC6;
              font-size: 12px;
            }
             &:focus{
                 outline: none;
                 color: #b50000;
            }
        }
    }
    .results-btn{
        padding-bottom: 43px;
         .btn-calculate{
            background: #5AC5C2;
            border-radius: 5px;
            color: #FFFFFF;
            font-family: Comfortaa;
            font-size: 19px;
            font-weight: 400;
            border: 1px solid #FFFBFB;
            text-align: center;
            width: 100%;
            height: 49px;
            &:hover{
                background: #008489;
            }
    }
    }
}


// desktop & ipad media queries

@media only screen 
  and (min-width: 768px)
  and (max-width: 990px){
    .form-calculator{
            top: 165px;
             padding: 24px;
        h1{
            font-size: 30px;
            margin-top: 3px;
        }
        p{
            font-size: 16px;
        }
        .form-control{
            font-size: 13px;
            padding: 6px 4px;
        }
    }

  }

@media only screen 
  and (min-width: 991px)
  and (max-width: 1199px){
    .banner{
        height: 76vh;
        background-position: 0% -24%;
    }
    .form-calculator{
        top: 150px;
        padding: 24px;
        h1{
            margin-top: 0;
            font-size: 31px;
        }
        p{
            font-size: 16px;
        }
        .form-control{
            font-size: 14px;
            padding: 0px 3px;
        }
    }

}



//mobile media queries

@media only screen 
  and (max-width: 320px){
    .banner{
        background-image: linear-gradient(180deg, rgba(51, 51, 51, 0) 54.33%, #333333 100%), image-url('men-mobile.jpg');
        // background-image: linear-gradient(rgba(0,0,0,0.0), rgba(0,0,0,0.3) ), image-url('men-mobile.jpg');
        height: 42vh;
        position: relative;
        background-position: 0% 104%;

        h1{
            font-family: Comfortaa;
            font-style: normal;
            font-weight: 400;
            line-height: 30px;
            font-size: 28px;
            letter-spacing: -2px;

            color: #FFFFFF;
            position: absolute;
            top: 63%;
            left: 30px;

        }

    }
    .mob-form-calculator{
        .form-control{
            height: 43px;
            font-size: 14px;
        }
    }
}

@media only screen 
  and (min-width: 321px)
  and (max-width: 767px){
    .banner{
        background-image: linear-gradient(180deg, rgba(51, 51, 51, 0) 54.33%, #333333 100%), image-url('men-mobile.jpg');
        // background-image: linear-gradient(rgba(0,0,0,0.0), rgba(0,0,0,0.3) ), image-url('men-mobile.jpg');
        height: 50vh;
        position: relative;
        background-position: 0% 104%;

        h1{
            font-family: Comfortaa;
            font-style: normal;
            font-weight: 400;
            line-height: 30px;
            font-size: 31px;
            letter-spacing: -1px;

            color: #FFFFFF;
            position: absolute;
            top: 63%;
            left: 30px;

        }

    }
}



