.footer{
	background: #FFFFFF;
	padding-top: 50px;
	.footer-line{
		hr{
			margin: 0;
			border: 0.5px solid #989898;
		}
	}
	.rights-reserved{
		display: flex;
	    justify-content: space-between;
	    align-items: center;
	    margin-top: 25px;
	    padding-bottom: 58px;
		.logo-footer{
			// height: 60;
		}
		p{
			font-family: Comfortaa;
			font-style: normal;
			font-weight: 300;
			line-height: normal;
			font-size: 12px;
			letter-spacing: -1px;
			color: #484848;
		}
	}

}

@media only screen 
  and (max-width: 320px){
  	.footer{
  		position: relative;
  		padding-top: 43px;
  		.container{
  			padding: 0;
  			width: 100%;
  		}
  		.footer-line{
  			hr{
  				border: 0.4px solid #989898;
  				display: inline-block;
  				width: 100%;
  			}
  		}
  		.rights-reserved{
			display: flex;
			justify-content: space-around;
			align-items: center;
   			 padding-bottom: 10px;
   			 margin-top: 30px;
  			p{
  			
  			}
  		}
  	}

  }


@media only screen 
  and (min-width: 321px)
  and (max-width: 767px){
	.footer{
  		position: relative;
  		padding-top: 43px;
  		.container{
  			padding: 0;
  			width: 100%;
  		}
  		.footer-line{
  			hr{
  				border: 0.4px solid #989898;
  				display: inline-block;
  				width: 100%;
  			}
  		}
  		.rights-reserved{
			display: flex;
			justify-content: space-around;
			align-items: center;
   			 padding-bottom: 10px;
   			 margin-top: 30px;
  			p{
  			
  			}
  		}
  	}
}