.modal-content{
	    padding: 10px;
	    // -webkit-box-shadow: 0 5px 15px rgba(0,0,0,0);
	    // -moz-box-shadow: 0 5px 15px rgba(0,0,0,0);
	    // -o-box-shadow: 0 5px 15px rgba(0,0,0,0);
	    // box-shadow: 0 5px 15px rgba(0,0,0,0);
	.modal-title{
		font-family: Comfortaa;
	    font-style: normal;
	    font-weight: 600;
	    line-height: 27px;
	    font-size: 20px;
	    text-align: center;
	    letter-spacing: -1px;
	    color: #008489;
	    margin-top: 16px;
	    margin-bottom: -25px;
	    //  -webkit-box-shadow: none;
	    // -moz-box-shadow: none;
	    // -o-box-shadow: none;
	    // box-shadow: none;
	}

	.modal-header{
		.close {
			position: relative;
    		top: -25px;
		}
	} 
		
}
.modal-body{
	// max-height: 350px; 
 //    padding: 15px; 
 //    overflow-y: auto; 
 //    -webkit-overflow-scrolling: touch; 
	p{
		font-family: Comfortaa;
	    font-style: normal;
	    font-weight: 300;
	    line-height: 22px;
	    font-size: 16px;
	    letter-spacing: -1px;
	    color: #484848;
	}
}
.btn-estimate-modal-close{
	font-family: Comfortaa;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    font-size: 20px;
    text-align: center;
    color: #FFFFFF;
    background: #008489;
    border-radius: 5px;
    width: 100%;
}
.modal-footer{
	margin-top: -15px;

	border-top: none;
}

@media only screen 
  and (max-width: 320px){
	.modal-content{
		.modal-title{
			font-size: 18px;
		}
	}
	.modal-body{
		p{
			font-size: 15px;
		}
	}
	.modal-header{
		    padding-top: 10px;
    		padding-bottom: 10px;
		.close {
			position: relative;
    		top: -17px;
    		left: -94%;
		}
	} 
	

}

@media (min-width: 768px){
	.modal-dialog {
		width: 444px;
	}

}

