.full-container{
	background-color: white;
	// padding-top: 180px;
	height: 100vh;
	position: relative;
	// padding-top: 0;
}	

form{
	::placeholder{
		font-family: Comfortaa;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		font-size: 16px;
		letter-spacing: -1px;

		color: #C0C9D9;
	}
	label{
			font-family: Comfortaa;
			font-style: normal;
			font-weight: 700;
			line-height: normal;
			font-size: 16px;
			letter-spacing: -1px;
			color: #353C4C;
			margin-top: 31px;
		}
	
	.itinerary-section{
		background: #FFFFFF;

		h3{
			font-family: Comfortaa;
			font-style: normal;
			font-weight: 300;
			line-height: 29px;
			font-size: 24px;
			letter-spacing: -1px;
			color: #484848;
			margin: 0;
			margin-bottom: 10px;
			margin-top: 15px;
		}
		p{
			font-family: Comfortaa;
				font-style: normal;
				font-weight: 400;
				line-height: 19px;
				font-size: 14px;
				letter-spacing: -1px;
				color: #B4BBC6;
				margin-top: -8px;
				padding-bottom: 200px;
		}
		h4{
			font-family: Comfortaa;
			font-style: normal;
			font-weight: 400;
			line-height: 19px;
			font-size: 14px;
			letter-spacing: -1px;
			color: #B4BBC6;
			margin-top: -8px;

		}
		.when-you-move{
			margin-top: 40px;
			p{
				font-family: Comfortaa;
				font-style: normal;
				font-weight: 400;
				line-height: 19px;
				font-size: 14px;
				letter-spacing: -1px;
				color: #B4BBC6;
				margin-top: -8px;
				padding-bottom: 120px;


			}
		.container-info{
			padding-left: 16px;
		}
		
		}
		.input-margin-top{
			margin-top: 54px;
		}
		.input2-margin-top{
			margin-top: 82px;
		}
		
	}
	
	.form-control{
		height: 50px;
		border-radius: 5px;
	}

	.col-sm-2{
		padding-right: 0;

	}
	.col-sm-10{
		padding-left: 7px;
		label{
			margin-left: -89px;
		}
	}
	.col-sm-4{
		padding-left: 0;
	}
	.col-sm-8{
		padding-right: 7px;
	}
	.parapgraph-margin-left{
		margin-left: -89px;
	}
	.btn-section{
	display: flex;
	justify-content: space-between;
	.next-button{
		.btn-next{
			background: #028489;
			border-radius: 4px;
			font-family: Comfortaa;
			font-style: normal;
			font-weight: 400;
			line-height: normal;
			font-size: 24px;
			text-align: center;
			color: #FFFFFF;
			padding: 11px 19px;
		}
	}

	.back-link{
		margin-top: 20px;
		a{
			font-family: Comfortaa;
			font-style: normal;
			font-weight: 400;
			line-height: normal;
			font-size: 14px;
			color: #008489;
			margin-left: 4px;
		}
	}
}


}

.flexbox{
	display: flex;
	justify-content: space-around;

	.information-box{
		background: #E5FAF9;
		border: 1px solid #B2F1EC;
		box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
		border-radius: 5px;
		width: 341px;
		height: auto;
		padding: 22px 17px;
		padding-bottom: 2px;
		p{
			font-family: Comfortaa;
			font-style: normal;
			font-weight: 300;
			line-height: 21px;
			font-size: 16px;
			letter-spacing: -1px;

			color: #2D2D2D;

			margin-top: 20px;
			// margin-bottom: 20px;
			padding-left: 10px;

			padding-left: 10px;
		}
		.lamp-icon{
			height: 36px;
			margin-left: 9px;
			margin-bottom: -8px;
		}
		button{
            padding: 0px 3px;
            border: 0px solid transparent;
            border-radius: 24px;
            margin-left: -3px;
            background-color: transparent;
            
            i{
              color: #B4BBC6;
              font-size: 12px;
            }
             &:focus{
                 outline: none;
                 color: #b50000;
            }
        }
        .save-amount{
        	font-size: 20px;
        }
	}
	
}




.close-form-section{
	background: #FFFFFF !important;
	// padding-top: 60px;
	height: 100vh;
	// margin-top: 80px;
	
	
	h2{
		font-style: normal;
		font-family: Comfortaa;
		font-weight: 400;
		line-height: normal;
		font-size: 30px;
		color: #353C4C;
		
	}
	p{
		font-style: normal;
		font-family: Comfortaa;
		font-weight: 300;
		line-height: 21px;
		font-size: 16px;
		letter-spacing: -1px;
		color: #767676;
	}
	.step{
		padding-top: 6px;
		h3{
			font-family: Comfortaa;
			font-weight: 400;
			line-height: normal;
			font-size: 14px;
			color: #BBBBBB;
			margin-bottom: 5px;
		}
		h2{
			font-family: Comfortaa;
			font-weight: 400;
			line-height: normal;
			font-size: 24px;

			color: #AFAFAF;
			margin: 0;
			margin-top: 10px;
		}
		p{
			font-family: Comfortaa;
			font-weight: 300;
			line-height: normal;
			font-size: 14px;
			color: #B2B2B2;
			margin: 0;
			margin-top: 8px;
		}
	}
	.step-active{
		h2, p{
			color: #484848;
		}
	}

	.flexbox{
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: relative;
		.check-icon{
			width: 35px;
			height: 35px;
			border-radius: 50%;
			background: #008489;
			 display: flex;
			 justify-content: space-around;
			 align-items: center;
			 font-family: Comfortaa;
			font-style: normal;
			font-weight: bold;
			line-height: 31px;
			font-size: 20px;
			text-align: center;
			letter-spacing: -1px;
			color: #FFFFFF;
			position: absolute;
			right: 20%;
		}
	}
	.step-margin{
		padding-top: 20px;
	}
	.information-box{
		margin-top: 43px;
		height: auto;
		width: 277px;
		padding-bottom: 0px;
	}
	.image-background{
		padding-top: 16%;
		// background-image:  image-url('ship.svg');
		// height: 500px;
		.ship-img{
			height: 600px;


		}

	}

}

.opening-form-section{
	background: #FFFFFF !important;
	// padding-top: 200px;
	height: 100vh;
	h2{
		font-family: Comfortaa;
		font-style: 400;
		font-weight: normal;
		line-height: 37px;
		font-size: 30px;
		color: #484848;

	}
	p{
		font-family: Comfortaa;
		font-style: normal;
		font-weight: 300;
		line-height: 22px;
		font-size: 16px;
		letter-spacing: -1px;
		color: #353C4C;
		.turquoise-color{
			color: #00a7ad;
			font-weight: 400;
			text-decoration: underline;
		}
	}
	.buttons-section{
		margin-top: 42px;
		.btn-cancel{
			border: 3px solid #008489;
			border-radius: 4px;
			font-family: Comfortaa;
			font-style: normal;
			font-weight: 400;
			line-height: normal;
			font-size: 24px;
			text-align: center;
			text-align: center;
			color: #008489;
			padding: 13px 34px;
			margin-right: 34px;

		}
		.btn-list-my-container{
		    background: #008489;
		    border-radius: 5px;
		    color: #FFFFFF;
		    font-family: Comfortaa;
		    font-size: 24px;
		    font-weight: 400;
		    text-align: center;
		    padding: 16px 23px;
		    &:hover{
		      background: #013638;
		      text-decoration: none;
		      color: #FFFFFF;
		    }
		    &:visited{
		      color: #FFFFFF;
		      text-decoration: none currentcolor solid

		    }
	    }
	}
	// .image-background{
	// 	img{
	// 		    position: relative;
	// 			 left: -44px
			    
			    
			    
	// 	}
	// }
}

.progressbar{
	background: #FFFFFF;
	// box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
	padding-left: 40px;
	
	height: 80px;
	widows: 100vw;
	// margin-bottom: 100px;
	.logo{
		display: flex;
		align-items: center;
		.ballon-logo{
			height: 36px;
		}
		h2{
			font-family: Comfortaa;
			font-style: normal;
			font-weight: normal;
			line-height: normal;
			font-size: 24px;
			color: #353C4C;
			margin-left: 20px;
		}
	}

}
.background-tuorquoise{
	background-color: #00A699;
}

.progress{
	height: 11px;
	margin-bottom: 100px;
}
.boxshadow{
		box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}

.progressbar-margin{
	margin-bottom: 50px;
}

































